@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.icon-left {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

h1 {
  font-family: 'Emilys Candy', cursive;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
}

.icon-right {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.header-icon {
  text-align: center;
  width: 100%;
  background-color: #D3D3D3;
  padding-bottom: 20px;
  margin: 0;
  padding-top: 20px;
  border-top: solid #A9A9A9 8px;
  border-bottom: solid #A9A9A9 8px;
}

nav {
  clear: both;
}

header img {
  width: 30px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 0;
}

header nav ul li {
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #DCDCDC;
  border: solid #A9A9A9 2px;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

header nav ul li:hover {
  background-color: #FFDAB9;
  color: #fff;
  border: solid #BC8F8F 2px;
}

.background-figure {
  width: 100%;
}

.promotion-text h2 {
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.promotion-text p {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.promotion-card {
  position: relative;
}

.promotion-text {
  position: absolute;
  bottom: 35%;
  top: 35%;
  left: 2%;
  right: 2%;
  color: #fff;
}

.welcome h2 {
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
}

.welcome p {
  margin: 0;
  text-align: center;
  font-size: .8rem;
}

.welcome {
  background-color: #696969;
  color: #F8F8FF;
  margin: 15px;
  border: solid #000 2px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 0;
}

.recipe-card h2 {
  margin: 0;
  font-size: 1rem;
  text-decoration: underline;
  text-align: center;
}

.recipe-card h3 {
  margin: 0;
  font-size: .7rem;
  text-align: center;
}

.recipe-card h4 {
  margin: 0;
  font-size: .7rem;
  margin-top: 15px;
}

.recipe-card ul {
  margin-top: 0;
}

.recipe-card ul li {
  font-size: .7rem;
}

.recipe-card ol {
  padding-left: 10px;
}

.recipe-card ol li {
  font-size: .6rem;
}

.recipe-card {
  width: 48%;
  margin: 15px;
  background-color: #DCDCDC;
  padding: 5px;
  border: solid 1px #000;
  border-radius: 6px;
  float: left;
  margin-right: 7px;
}

.sprinkle {
  width: 40%;
  float: left;
  margin-top: 15px;
  margin-bottom: 10px;
}

.cupcake, .gummy-worms, .cup {
  width: 40%;
  float: left;
  margin-bottom: 10px;
}

.location-card {
  clear: both;
  text-align: center;
  background-color: #F0F8FF;
  padding-bottom: 15px;
  margin: 5px;
  border-radius: 15px;
}

.location-fig {
  width: 100%;
}

.btn {
  text-decoration: none;
  padding: 10px;
}

.btn-location {
  background-color: #B0C4DE;
  color: #000;
  border: dashed 2px #191970;
  border-radius: 8px;
}

.btn-location:hover {
  background-color: #191970;
  color: #fff;
  border-color: #B0C4DE;
}

.location-card h2 {
  margin-top: 0;
  padding-top: 10px;
}

.hours-card {
  text-align: center;
  width: 45%;
  float: right;
  background-color: #FFFACD;
  border-radius:15px;
  margin: 5px;
  font-size: .8rem;
}

dd {
  margin-left: 0;
}

.hours-title {
  width: 50%;
  margin: 5px;
  padding: 5px;
  color: #CD853F;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
}
