@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.icon-left {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

h1 {
  font-family: 'Emilys Candy', cursive;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
}

.icon-right {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.header-icon {
  text-align: center;
  width: 100%;
  background-color: #D3D3D3;
  padding-bottom: 20px;
  margin: 0;
  padding-top: 20px;
  border-top: solid #A9A9A9 8px;
  border-bottom: solid #A9A9A9 8px;
}

nav {
  clear: both;
}

header img {
  width: 30px;
}
