@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;

  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #F5F5F5;
}

.icon-left {
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

h1 {
  font-family: 'Emilys Candy', cursive;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
}

.icon-right {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.header-icon {
  text-align: center;
  width: 100%;
  background-color: #FFC0CB;
  padding-bottom: 20px;
  margin: 0;
  padding-top: 20px;
  border-top: solid #F08080 8px;
  border-bottom: solid #F08080 8px;
}

nav {
  clear: both;
}

header img {
  width: 30px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 0;
}

header nav ul li {
  margin: 2px 0px 0px 0px;
  background-color: #F08080;
  border-radius: 5px;
}

header nav ul li:nth-child(odd) {
  background-color: #FFC0CB;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

header nav ul li:hover {
  background-color: #FFDAB9;
}

.current {
  color: #800080;
}

.background-figure {
  width: 100%;
}

.promotion-text h2 {
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.promotion-text p {
  margin: 0;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.promotion-card {
  position: relative;
}

.promotion-text {
  position: absolute;
  bottom: 35%;
  top: 35%;
  left: 2%;
  right: 2%;
  color: #fff;
}

.welcome h2 {
  margin: 0;
  text-align: center;
  font-size: 1.3rem;
}

.welcome p {
  margin: 0;
  text-align: center;
  font-size: .8rem;
}

.welcome {
  background-color: #FFF0F5;
  color: #000;
  margin: 15px;
  border: solid #000 2px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 0;
}

.recipe-card h2 {
  margin: 0;
  font-size: 1rem;
  text-decoration: underline;
  text-align: center;
}

.recipe-card h3 {
  margin: 0;
  font-size: .7rem;
  text-align: center;
}

.recipe-card h4 {
  margin: 0;
  font-size: .7rem;
  margin-top: 15px;
}

.recipe-card ul {
  margin-top: 0;
}

.recipe-card ul li {
  font-size: .7rem;
}

.recipe-card ol {
  padding-left: 10px;
}

.recipe-card ol li {
  font-size: .6rem;
}

.recipe-card {
  width: 48%;
  margin: 15px;
  background-color: #E6E6FA;
  padding: 5px;
  border: solid 1px #000;
  border-radius: 6px;
  float: left;
  margin-right: 7px;
}

.sprinkle {
  width: 40%;
  float: left;
  margin-top: 15px;
  margin-bottom: 10px;
}

.cupcake, .gummy-worms, .cup {
  width: 40%;
  float: left;
  margin-bottom: 10px;
}

.location-card {
  clear: both;
  text-align: center;
  background-color: #F0F8FF;
  padding-bottom: 15px;
  margin: 5px;
  border-radius: 15px;
}

.location-fig {
  width: 100%;
}

.btn {
  text-decoration: none;
  padding: 10px;
}

.btn-location {
  background-color: #B0C4DE;
  color: #000;
  border: dashed 2px #191970;
  border-radius: 8px;
}

.btn-location:hover {
  background-color: #191970;
  color: #fff;
  border-color: #B0C4DE;
}

.location-card h2 {
  margin-top: 0;
  padding-top: 10px;
}

.hours-card {
  text-align: center;
  width: 45%;
  float: right;
  background-color: #EEE8AA;
  border-radius:15px;
  margin: 5px;
  font-size: .8rem;
  font-family: sans-serif;
}

dd {
  margin-left: 0;
}

.hours-title {
  width: 50%;
  margin: 5px;
  padding: 5px;
  color: #708090;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
}

em {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

.hours-arrow {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.hours {
  background-color: #FFF8DC;
  margin: 5px;
  padding-bottom: 10px;
  border-radius: 15px;
}

.hours-box {
  width: 310px;
  max-width: 310px;
  margin: auto;
}
.people img {
  width: 100%;
}

.people {
  text-align: center;
  margin: 5px;
  background-color: #d7efe2;
  border-radius: 15px;
}

.people h3 {
  margin: 0;
  font-family: 'Abril Fatface', cursive;
}

.people h2 {
  margin: 0;
  font-family: 'Limelight', cursive;
}

.people figure {
  margin-top: 5px;
  margin-bottom: 0;
}

.people figcaption {
  font-size: .8rem;
}

.george, .emma, .jerry {
  margin-top: 10px;
}

footer {
  font-size: .6rem;
  padding: 10px;
  background-color: #D8BFD8;
  margin-top: 15px;
}



.chocolate-pieces {
  width: 100%;
}

.about-us {
  position: relative;
}

.about-us-card {
  background: rgba(130, 103, 61, 0.5);
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  position: absolute;
  margin-bottom: 5px;
  left: 1%;
  top: 1%;
  bottom: 1%;
  right:1%;
}

.about-us-card p {
  font-size: .8rem;
  margin: 2px;
}

.about-us-card h2 {
  margin-top: 0;
  margin-bottom: 0;
}



.menu-items img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.menu-items {
  text-align: center;
}

.menu-items h2 {
  background-color: #efdcbd;
  padding: 2px;
}

.menu-items p {
  margin: 0;
}

.menu-items h3 {
  margin-bottom: 5px;
  border-bottom: dashed 1px #000;
  padding-bottom: 5px;
}

.card-1, .card-2, .card-3, .card-4 {
  border-left: solid 1px #000;
  border-right: solid 1px #000;
  padding: 5px;
  background-color: #efdcbd;
}

.menu-list dd {
  font-size: .8rem;
  margin-bottom: 20px;
}

.menu-list {
  text-align: center;
}

.menu-items h2 {
  margin-bottom: 10px;
}

.card-1 h2 {
  margin-top: 5px;
}



.contact-us p {
  font-size: 1rem;
}

.contact-methods img {
  width: 100px;
}

.contact-methods h3 {
  font-size: 1.2rem;
}

.contact-methods {
  text-align: center;
}

.btn-small {
  font-size: .8rem;
  margin: 5px;
  color: #000;
  background-color: #e09f9f;
  border-radius: 5px;
  border: solid 1px #b74747;
  padding: 3px;
}




.btn-small:hover {
  background-color: #b74747;
  color: #fff;
  border: solid 1px #e09f9f;
}

.contact-method-phone, .contact-method-email, .contact-method-in-person {
  background-color: #e09f9f;
  width: 80%;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}

.link-card {
  text-decoration: none;
  color: #000;
}

.contact-method-phone p, .contact-method-email p, .contact-method-in-person p {
  margin-bottom: 0;
}

.contact-method-phone, .contact-method-email, .contact-method-in-person {
  padding-bottom: 10px;
}

.contact-method-phone:hover, .contact-method-email:hover, .contact-method-in-person:hover {
  background-color: #ea8f8f;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1, p {
    margin: 0 0 1.3rem;
  }

  header nav ul li {
    width: 50%;
    float: left;
  }

  header nav {
    margin-top: -15px;
  }

  .header-icon {
    padding-bottom: 0;
  }

  .promotion-card {
    margin-top: 70px;
  }

   .sprinkle, .cupcake, .gummy-worms {
    width: 150px;
    float: none;
    display: inline-block;
   }

   .recipe-card {
     width: 55%;
   }

  .cup {
    display: none;
  }

  .hours-content {
    padding-bottom: 5px;
  }

  .hours-box {
    width: 350px;
    max-width: 510px;
  }

  .hours-arrow {
    width: 45%;
  }

  .about-us {
    clear: both;
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
  }



}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1, p {
    margin: 0 0 1.4rem;
  }

  header nav ul li {
  width: 25%;
  float: left;
  }

  .sprinkle, .cupcake, .gummy-worms, .cup {
    display: none;
  }

  .recipe-and-images {
    text-align: center;
  }

  .recipe-card {
    width: 45%;
    text-align: left;
  }

  .hours-card {
    width: 45%;
  }

  .location-card {
    width: 45%;
    display: inline-block;
    margin: 15px;
  }

  .location-fig {
    width: 55%;
  }

  .hours-content {
    width: 430px;
    max-width: 400px;

  }

  .george, .emma, .jerry {
    width: 30%;
    display: inline-block;
  }


  .about-us {
    width: 75%;
    margin: 0 auto;
    margin-top: 70px;
  }


  .card-1, .card-2, .card-3, .card-4 {
    width: 45%;
    display: inline-block;
    margin-top: 5px;
  }

  .card-1 h2, .card-2 h2, .card-3 h2, .card-4 h2 {
    margin-top: 5px;
    font-size: 1.4rem;
  }

  .card-4 .image {
    margin-top: 27px;
  }

  .card-1-content, .card-2-content, .card-3-content, .card-4-content {
    width: 260px;
    max-width: 260px;
    margin: 0 auto;
  }

  .contact-method-phone, .contact-method-email, .contact-method-in-person {
    width: 40%;
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1, p {
    margin: 0 0 1.5rem;
  }

  h1 {
    text-align: left;
  }

  .icon-left {
    margin-top: 7px;
  }

  .icon-right {
    display: none;
  }

  header nav ul {
    width: 60%;
    float: right;
    margin-top: -60px;
  }

  .promotion-card {
    width: 65%;
    display: inline-block;
    margin-left: 15px;
  }

  .welcome {
    width: 30%;
    float: right;
    margin-top: 70px;
  }

  .welcome p {
    font-size: 1.1rem;
  }

  .welcome h2 {
    font-size: 1.6em;
  }

  .recipe-card {
    width: 25%;
  }

  .location-card {
    width: 25%;
    margin-left: 30px;
  }

  .hours {
    width: 40%;
    float: right;
    padding-bottom: 30px;
    margin-bottom: 10px;
    padding-top: 30px;
    margin-right: 20px;
  }

  .hours-card {
    margin-top: 25px;
  }

  .people {
    margin-top: 60px;
  }


  .card-1, .card-2, .card-3, .card-4 {
    width: 24%;
  }

  .card-1 h2, .card-2 h2, .card-3 h2, .card-4 h2 {
    font-size: 1.3rem;
  }

  .menu-items {
    margin: 0;
  }

  .card-3 .image {
    margin-top: 30px;
  }

  .card-4 .image {
    margin-top: 8px;
  }

  .card-4 h2 {
    margin-bottom: 9px;
  }

  .card-1-content, .card-2-content, .card-3-content, .card-4-content {
    width: 210px;
    max-width: 210px;
  }

  .card-3 .image {
    margin-top: 30px;
  }

  .contact-method-phone, .contact-method-email, .contact-method-in-person {
    width: 30%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .recipe-card {
    display: inline-block;
  }

  .card-1-content, .card-2-content, .card-3-content, .card-4-content {
    width: 230px;
    max-width: 230px;
    }
  }

}
